<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div
      *ngFor="let questionGroup of questionGroups | keyvalue"
      class="form-row"
    >
      <div style="border: 3px dashed black; margin-bottom: 10px; padding: 10px">
        <p style="color: rgb(0, 0, 214)">This is FormGroup: {{questionGroup.key}}</p>
        <app-question
          [questionGroup]="questionGroup"
          [form]="form"
        ></app-question>
      </div>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />{{ payLoad }}
  </div>
</div>
