<div [formGroup]="form">
  <div formGroupName="{{ questionGroup.key }}">
    <div *ngFor="let question of questionGroup.value" style="margin-bottom: 5px">
      <label [attr.for]="question.name">{{ question.label }}</label>

      <div [ngSwitch]="question.controlType">
        <input
          *ngSwitchCase="'textbox'"
          [formControlName]="question.name"
          [id]="question.name"
          [type]="question.type"
        />

        <select
          [id]="question.name"
          *ngSwitchCase="'dropdown'"
          [formControlName]="question.name"
        >
          <option *ngFor="let opt of question.options" [value]="opt.key">
            {{ opt.value }}
          </option>
        </select>
      </div>
      <div class="errorMessage" *ngIf="!isValid(question.name)">
        {{ question.errorMessage }}
      </div>
    </div>
  </div>
</div>
